{% macro testimonialCard(item, variant) %}
{% if variant == "grid" %}
<div
  class="testimonial-card reveal"
  data-logo="{{ item.logo }}"
  data-logo-alt="{{ item.logoAlt }}"
  {% if item.photo %}data-photo="{{ item.photo }}" data-photo-alt="{{ item.photoAlt }}"{% endif %}
  data-quote="{{ item.quote }}"
  data-authors="{% for a in item.authors %}{{ a.name }}|{{ a.role }}{% if not loop.last %};;{% endif %}{% endfor %}"
>
  <img class="testimonial-logo" src="{{ item.logo }}" alt="{{ item.logoAlt }}" />
  <p class="testimonial-quote">{{ item.excerpt | safe }}</p>
  <button class="btn-read-more">Read more &rarr;</button>
  <div class="testimonial-author">
    <div><strong>{{ item.authors[0].name }}</strong><span>{{ item.authors[0].role }}</span></div>
  </div>
</div>
{% else %}
<div class="testimonial-card">
  <img class="testimonial-logo" src="{{ item.logo }}" alt="{{ item.logoAlt }}" />
  {% if item.photo %}<img class="testimonial-photo" src="{{ item.photo }}" alt="{{ item.photoAlt }}" />{% endif %}
  <p class="testimonial-quote">{{ item.quote | safe }}</p>
  <div class="testimonial-author">
    <div><strong>{{ item.authors[0].name }}</strong><span>{{ item.authors[0].role }}</span></div>
  </div>
</div>
{% endif %}
{% endmacro %}
