<div class="t-modal-overlay" id="t-modal-overlay" role="dialog" aria-modal="true">
  <div class="t-modal" id="t-modal">
    <button class="t-modal-close" id="t-modal-close" aria-label="Close">&times;</button>
    <img class="t-modal-logo" id="t-modal-logo" src="" alt="" />
    <img class="t-modal-photo" id="t-modal-photo" src="" alt="" style="display: none" />
    <p class="t-modal-quote" id="t-modal-quote"></p>
    <div class="t-modal-authors" id="t-modal-authors"></div>
  </div>
</div>
